fastapi>=0.116.1
uvicorn[standard]>=0.35.0
python-binance==1.0.29
pydantic>=2.11.7
pydantic-settings>=2.10.1
PyYAML==6.0.2
aiohttp>=3.12.15
async-timeout>=5.0.1
rich>=14.1.0
httpx>=0.28.1
websockets>=15.0.1
aiosqlite>=0.21.0

