<div class="wrap">
    <div class="head">
        <h3>Ордера (live)</h3>
    </div>

    <div class="scroll">
        <p-table [value]="orders" styleClass="tbl" [trackBy]="trackId">
            <ng-template pTemplate="header">
                <tr><th>ID</th><th>Side</th><th>Price</th><th>Qty</th><th>Status</th><th>Time</th></tr>
            </ng-template>
            <ng-template pTemplate="body" let-o>
                <tr>
                    <td class="mono">{{ o.id }}</td>
                    <td [class.buy]="o.side==='BUY'" [class.sell]="o.side==='SELL'">{{ o.side }}</td>
                    <td class="mono">{{ o.price | number:'1.2-6' }}</td>
                    <td class="mono">{{ o.qty | number:'1.6-6' }}</td>
                    <td>{{ o.status }}</td>
                    <td class="mono">{{ o.ts | date:'mediumTime' }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr><td colspan="6" class="muted">пока пусто</td></tr>
            </ng-template>
        </p-table>
    </div>
</div>


