@use 'variables' as v;
@use 'mixins' as m;

html, body {
  height: 100%;
  background: v.$color-bg;
  color: #e6e6f0;
}

body {
  margin: 0;
  @include m.font(base);
}

.card {
  background: v.$color-card;
  border-radius: v.$space-lg;
  @include m.spacing(padding, lg);
  box-shadow: 0 6px 30px rgba(0, 0, 0, .3);
}

.badge {
  padding: v.$space-xs v.$space-sm;
  border-radius: 999px;
  background: #263238;
  @include m.font(sm, 400);
}

.grid {
  display: grid;
  gap: v.$space-md;
}

.grid-2 { grid-template-columns: 1fr 1fr; }
.grid-3 { grid-template-columns: 1fr 1fr 1fr; }

h1, h2, h3 {
  margin: v.$space-sm 0;
  @include m.font(lg, 700);
}

button.mat-mdc-button-base {
  border-radius: v.$space-lg!important;
}

.material-icons,
.material-symbols-outlined {
  @include m.icon;
}
